<div style="text-align: center">
    <h2>Welcome,</h2>
    <p>Using this default account to login,</p>
    <h3>username:<strong>{{username}}</strong></h3>
    <h3>password:<strong>{{password}}</strong></h3>
    <p>Thanks</p>
</div>