
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Email</title>
    <style>
        :root{
            background-color: #f8f8f8;
        }
        strong{
            color: #f76e00;
        }
    </style>
</head>
<body>
    <p class="begin">We received require forgot password from <strong>{{destination}}</strong>. We need make sure that this require come from you. Please use below code to change your password</p>
    <p class="code">Your verify code: <strong>{{verifyCode}}</strong></p>
    <p>This code will be expires in 10 minutes</p>
    <div class="signature">
        Thanks you,<br>
        D.Khanh
    </div>
</body>
</html>