<div style="text-align: center">
    <h2>Wellcome to my shop</h2>
    <p>To create your account, you need verify your email, using this code to verify your email:</p>
    <h3><strong>{{verifyCode}}</strong></h3>
    <p>This code will be expires in <strong>10 minute</strong></p>
</div>