<div style="text-align: center">
    <h2>You have just created a forgot password request</h2>
    <p>Confirm this request by code:</p>
    <h3><strong>{{verifyCode}}</strong></h3>
    <p>This code will be expires in <strong>24 hours</strong></p>
</div>